*{
    margin: 0;
    font-family: "Google Sans Flex", sans-serif;
    box-sizing: border-box;
    color: #002B11;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
a{
    text-decoration: none;
}
p{
    color: #002B11;
}

/* Navbar */
.navbar-container{
    position: fixed;
    background-color: white;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    z-index: 10;
    top: 0;
    
}
.navbar{
    width: 1184px;
    height: 60px;
    padding: 0px 24px;
    /* border: solid black 1px; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #002B11;
    /* position: fixed; */
}
.navbar button{
    padding: 9.5px 16px;
    font-weight: 550;
    border-radius: 50px;
}
.navbar button:hover{
    background-color: #E5E5E5;
}
.navbar-menu{
    display: none;
}
.navbar-s1>img{
    width: 188px;
    height: auto;
    cursor: pointer;
}
.navbar-s3{
    display: flex;
    gap: 8px;
}
.navbar-s3__currency>button{
    display: flex;
    align-items: center;
    gap: 8px;
    /* flex-direction: row; */
}
.navbar-s3__currencyimg{
    width: 17px;
    height: auto;
}
.vertical-line{
    height: 22px;
    width: 1px;
    background-color: #cecece
}
.navbar-s3__signin{
    background-color: #002B11 ;
    color: white;
    
}
.navbar-s3__signin:hover{
    background-color: #143C24 !important;  
}
.navbar-profile{
    display: none;
}

/* Caption Tagline */
.caption{
    max-width: 1136px;
    margin: 100px auto 0px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}
.caption>h1{
    color:#002B11;
    font-size: 57px;
    font-family: "Sansita", sans-serif;
    font-weight: Bold 700;
}
 .c2, .c3, .c4 {
    display: none;
}

/* Categories */
.categories-container{
    max-width: 574px;
    padding: auto 20px;
    margin: 32px auto 8px;
}
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* max-width: 574px; */
    height: 60px;
    font-size: 18px;
    font-weight: 550;
}
.categories i{
    padding-right: 3px;
}
.categories>button{
    /* margin: 4px 4px; */
    padding: 4px 4px;
}
.categories>button:hover{
    border-bottom: solid black 2px;
}
.categories>button:focus{
    border-bottom: solid black 2px;
}

/* Search Bar */
.search-bar__container{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 5px 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;              /* Important */
    border: 1px solid #dadada;
    border-radius: 50px;
    background-color: #F7F7F7;
    padding: 6px 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 5px;
}
.search-bar>i{
    width: 30px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.search-bar__input{
    border: none;
    background-color: transparent;
    min-width: 0;
    flex: 1;
}
.search-bar__input:focus{
    outline: none;
}
.search-bar__input[placeholder]{
    font-size: 16px;
    color: #979797;
}
.search-bar__button{
    /* margin: 0px; */
    cursor: pointer;
    border-radius: 50px;
    background-color: #00EB5B;
    border: solid #00AB42 1px;
    padding: 10px 20px;
    margin: 0;
}
.search-bar__button:hover{
    background-color: #00D352;
}


/* Marketing */
.marketing-container1{
    max-width: 1184px;
    margin: 50px auto 30px;
    padding: 0px 24px;
}
.marketing-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    border-radius: 10px;
    background-color: #00EB5B;
    padding: 24px;
    color: #002B11;
    cursor: pointer;
    position: relative;
}
.marketing-left{
    position: relative;
    flex: 1;
}
.marketing-left img{
    width: 100%;
    border-radius: 8px;
    display: block;
}
.marketing-right{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.marketing__playbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 8px;
    bottom: 8px;
    border-radius: 50%;
}
.marketing__playbutton:hover{
    background-color: #00D954;
}
.marketing-right h1{
    font-size: 50px;
    line-height: 0.8;
    margin: 0 0 20px;
    font-weight: black 900;
}
.marketing-right p{
    font-size: 18px;
    margin-bottom: 25px;
    color: #002B11;
}
.marketing__button{
    background: #002B11;
    color: white;
    padding: 12px 26px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}
.marketing__button:hover{
    background-color: #143C24;
}
.vertical-line2{
    width: 1px;
    height: 410px;
    background-color: black;
}

/* Card-text */
.card-text{
    max-width: 1184px;
    margin: 15px auto auto;
    padding: 0 24px;
    line-height: 1.6;
}
.card-text>p{
    color: #002B11;
}
/* Card-image */
.card-image{
    max-width: 1184px;
    margin: 0 auto;
    padding: 24px;
}
.card-image ul{
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}
.card-image li{
    flex: 1;
    position: relative;
}
.card-image img{
    width: 100%;
    height: 272px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    cursor: pointer;
}
.card-image img:hover{
    opacity: 70%;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0)
    );
}
.overlay:hover{
    opacity: 75%;
}
.card-image h2{
    font-size: 30px;
    color: white;
    font-weight: black 900;
    position: absolute;
    left: 15px;
    bottom: 15px;
    z-index: 1;
}

/* Heart icon */
.heart{
    position: relative;
}
.heart-icon{
    position: absolute;
    background-color: white;
    padding: 5px;
    width: auto;
    min-height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
.heart-icon:hover{
    background-color: #E5E5E5;
}

/* Next Section Places Div same layout as interests */
.place-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #002B11;
    margin-top: 5px;
    gap: 5px;
    cursor: pointer;
}
.place-name{
    background-color: #F7F7F7;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    width: fit-content;
    margin-top: 4px;
}
.place-details p{
    color: #002B11;
    font-size: 14px;
}
.place-fee{
    font-weight: 550;
    
}
.place-details h4{
    font-weight: 550;
    font-size: 18px;
}
.rating{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.rating i{
    margin-bottom: 2px;
}
.rating p{
    font-weight: 400;
    color: #5f5f5f;
}
.circle-left{
    margin-right: 4px;
}
.circle-right{
    margin-left: 4px;
}


/* Tripadvisor Foundation */
.foundation-container{
    max-width: 1184px;
    padding: 24px;
    margin: 15px auto;
}
.foundation{
    display: flex;
    /* max-width: 1136px; */
    justify-content: center;
    background-color: #F7F7F7;
}
.foundation__left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
}
.foundation__left img{
    padding: 24px;
    width: 100%;
    object-fit: contain;
    display: block;
}
.foundation__right{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 24px;
}
.foundation__right h2{
    font-size: 30px;
}
.foundation__right p{
    color: #002B11 !important;
}
.foundation__right button{
    background-color: #002B11;
    border-radius: 50px;
    padding: 15px 20px;
    color: white;
}
.foundation__right button:hover{
    background-color: #143C24;
}

/* Tripadvisor Recognition */
.recognition-container{
    width: 100%;
    background-color: #002B11;
    padding: 30px 0px 40px;
}
.recognition{
    max-width: 1184px;
    display: flex;
    justify-content: flex-start;
    padding: 24px;
    gap: 20px;
    margin: auto;
}
.recognition p{
    font-weight: bolder;
    font-size: 18px;
}
.recognition__left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    padding: 20px;
}
.recognition__left h2,p{
    color: white; 
}
.recognition__left h2{
    font-size: 45px;
    font-weight: black 500;
}
.recognition__left img{
    width: 65px;
    height: auto;
}
.recognition__left>button{
    background-color: white;
    padding: 15px 10px;
    color: #002B11;
    border-radius: 50px;
    width: 150px;
    margin-top: 20px;
}
.recognition__left>button:hover{
    background-color: #E5E5E5;
}
.recognition__right{
    position: relative;
    flex: 1;
    overflow: hidden;
}
.circle{
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: yellow;
}
.yellow-circle{
    background-color: yellow;
    top: 10%;
    left: 30%;
}
.green-circle{
    background-color: #00AB42;
    bottom: 5%;
    left: 60%;
}
/* Footer */
.footer{
    width: 100%;
    background-color: #F7F7F7;
    padding: 30px 0;
    margin-top: 50px;
    color: #002B11;
}
.footer-s1{
    display: flex;
    gap: 50px;
}
.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}
.footer p{
    color: #002B11;
    font-size: smaller;
    font-weight: 300;
}
.footer-s1 p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer-s1, .footer-s2{
    max-width: 1136px;
    margin: 0px auto;
    padding: 0px 24px;
}
.footer-s1__col3{
    margin-left: 50px;
}
.footer-s1__col4{
    margin-left: 150px;
}
.footer-subtitle{
    font-size: 16px !important;
}
.footer-subtitle:hover{
    text-decoration: none !important;
    cursor:auto !important;
}
.footer-s2{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.footer-s2>img{
    width: 40px;
}



@media (max-width:1036px) {
    .recognition__right{
        display: none;
    }
}
@media (max-width: 1024px) {
    .navbar-menu{
    display: block;
    flex-shrink: 1;
    }
    .navbar-s2{
        display: none;
    }
    .navbar-s3__currency{
        display: none;
    }
}
/* @media (max-width: 850px) {
    .search-bar__container{
        padding: auto 20px !important;
    }
} */
@media (max-width: 768px) {
  .marketing-container2 {
    flex-direction: column;
  }

  .vertical-line2 {
    display: none;
  }

  .marketing-right h1 {
    font-size: 32px;
  }
  .foundation{
    flex-direction: column;
  }
  .foundation img{
    width: 80%;
  }
}

@media (max-width: 768px){
    .card-image ul{
        flex-wrap: wrap;
        gap: 10px;
    }
    .card-image li{
        flex: 1 1 48%;
    }
    .navbar-s3{
        display: none;
    }
    .navbar-profile{
        display: block;
        flex-shrink: 1;
    }
    .navbar-s1{
        flex-shrink: 1;
    }
}
@media (max-width: 670px) {
    .footer-s1__col3{
        margin-left: 0px;
    }
    .footer-s1__col4{
        margin-left: 0px;
    }
}
@media (max-width: 580px) {
    .categories>button{
        font-size: 16px;
    }
    .categories{
        gap: 8px;
        margin-top: 80px;
    }
    .caption{
        display: none;
    }
    .button-c4{
        display: none;
    }
    
}