*{
    margin: 0;
    font-family: "Google Sans Flex", sans-serif;
}
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  
}
/* Navbar */
.navbar{
    max-width: 1136px;
    margin: 8px auto 0px;
    height: 60px;
    padding: 0px 24px;
    /* border: solid black 1px; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #002B11;
}
.navbar button{
    padding: 9.5px 16px;
    font-weight: 550;
    border-radius: 50px;
}
.navbar button:hover{
    background-color: #E5E5E5;
}
.navbar-s1>img{
    width: 188px;
    height: auto;
    cursor: pointer;
}
.navbar-s3{
    display: flex;
    gap: 8px;
}
.navbar-s3__currency>button{
    display: flex;
    align-items: center;
    gap: 8px;
    /* flex-direction: row; */
}
.navbar-s3__currencyimg{
    width: 17px;
    height: auto;
}
.vertical-line{
    height: 22px;
    width: 1px;
    background-color: #cecece
}
.navbar-s3__signin{
    background-color: #002B11 ;
    color: white;
    
}
.navbar-s3__signin:hover{
    background-color: #143C24 !important;  
}

/* Caption Tagline */
.caption{
    max-width: 1136px;
    margin: 40px auto 0px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}
.caption>h1{
    color: black;
    font-size: 57px;
    font-family: "Sansita", sans-serif;
    font-weight: Bold 700;
}
 .c2, .c3, .c4 {
    display: none;
}

/* Categories */
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 574px;
    height: 60px;
    margin: 32px auto 8px;
    font-size: 18px;
    font-weight: 550;
}
.categories i{
    padding-right: 3px;
}
.categories>button{
    /* margin: 4px 4px; */
    padding: 4px 4px;
}
.categories>button:hover{
    border-bottom: solid black 2px;
}
.categories>button:focus{
    border-bottom: solid black 2px;
}

/* Search Bar */
.search-bar__container{
    max-width: 1136px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 24px;
}
/* .search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    height: auto;
    border: solid #dadada 1px;
    border-radius: 50px;
    
    background-color: #F7F7F7;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 5px;
    flex-shrink: 1;
} */

.search-bar {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;              /* Important */
    border: 1px solid #dadada;
    border-radius: 50px;
    background-color: #F7F7F7;
    padding: 6px 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 5px;
}
.search-bar>i{
    width: 30px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.search-bar__input{
    border: none;
    background-color: #F7F7F7;
    width: 640px;
    min-width: 0;
    height: 24px;
    margin: 0px;
    flex: 1;
}
.search-bar__input:focus{
    outline: none;
}
.search-bar__input[placeholder]{
    font-size: 16px;
    color: #979797;
}
.search-bar__button{
    /* margin: 0px; */
    cursor: pointer;
    border-radius: 50px;
    background-color: #00EB5B;
    border: solid #00AB42 1px;
    padding: 12px 22.5px;
    margin: 0;
}

/*  */



/* .search-bar__input {
    border: none;
    background: transparent;
    flex: 1;
    min-width: 0;
    font-size: 16px;
}

.search-bar__button {
    border-radius: 50px;
    background-color: #00EB5B;
    border: 1px solid #00AB42;
    padding: 10px 20px;
} */
